.footer{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.header {
    display: flex;
    justify-content: center;
    margin: 100px;
    border-bottom: black    solid   1px;
}

.title {
    font-size: 50pt;
}

.picture {
    height: 500px;
    width: 500px;
}

.div_picture {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.startseite-header{
    display: flex;
    justify-content: center;
    margin: 25px 0px 0px 0px;
    font-size: 50px;
    font-family: comfortaa;
}

.untertitel{
    display: flex;
    justify-content: center;
    font-family: comfortaa;
    margin: 0px 0px 40px 0px;

}.beschreibungs-text{
    text-align: center;

    width: 1000px;
 }
 .untertitel-text{
     display: flex;
     justify-content: center;
     margin: 0px 0px 100px 0px;
 }

.carousel-item{
    height: 32rem;
    background-color: black;
    color:white;
}
.overlay-image{
    opacity: 0.5;
    background-size: cover;
}

.carousel {
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-bottom: 100px;

}