.footer{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.header {
    display: flex;
    justify-content: center;
    margin: 100px;
    border-bottom: black    solid   1px;
}

.title {
    font-size: 50pt;
}

.picture {
    height: 500px;
    width: 500px;
}

.div_picture {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.startseite-header{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 50px;
    font-family: comfortaa;
}

.untertitel{
    display: flex;
    justify-content: center;
    font-family: comfortaa;
    margin: 0px 0px 40px 0px;
}.beschreibungs-text{
    text-align: center;
    margin: 0px 40px 0px 40px;
 }
